<h1>PROJET DE RÉFÉRENCEMENT DE FORMATIONS</h1>
<h2>PROJET ANGULAR - NodeJS</h2>
<h3>Dans le cadre de la formation Concepteur et développeur d'applications</h3>
<h3>Yildiz Israfil & Indah juliani & Gardie David</h3>
<h4>2itech - session 2021 -2023</h4>

<div class="container">
    <div class="row">
        <div class="col-2"></div>
        <div div class="col-8">

             <h3> Back-end </h3>

            <ul>
                <li><b>NodeJS</b> : NodeJS est un environnement serveur basé sur le langage JavaScript.</li>
                <li><b>nodemon</b> : Utilitaire d'interface de ligne de commande (CLI) qui enveloppe NodeJS et qui surveille le système de fichiers et redémarre automatiquement le processus.</li>
                <li><b>WAMP</b>: Gestion serveur MYSQL et PHP, nous utliserons également PhpMyAdmin pour gérer notre base de données</li>
            </ul>
        

                <h3> Front-end </h3>
                <ul>
                    <li><b>Angular</b> : Framework JavaScript open source basé sur Typescript</li>
                    <li><b>euh?</b> :help?</li>
                </ul>

                <h3>Organisation du groupe & outils</h3>

                <ul>
                    <li><b>La partie back-end </b>a été travaillée de chaque côtée, celle d'Israfil a été retenue car les jointures étaient mieux faites</li>
                    <li><b>Front-end</b>: Israfil s'occuppe du composant "formations" </li>
                    <li><b>Front-end</b>: Indah s'occuppe du composant "stagiaires" </li>
                    <li><b>Front-end</b>: David s'occuppe du composant "formateurs" </li>
                    <li><b>Front-end</b>: David: Accueil, Navigation</li>
                    <li><b>Outil de communication</b>: Discord</li>
                    <li><b>Outil IDE</b>: Virtual Studio Code</li>
                </ul>

        </div>
        <div class="col-2"></div>
    </div>
</div>
