<h1>PROJET DE RÉFÉRENCEMENT DE FORMATIONS</h1>
<h2>
  Stack : <em class="Angular"> Angular (13.0.4) </em>-
  <em class="Node"> NodeJS (14.18.2)</em>
</h2>
<h3>Dans le cadre de la formation Concepteur et développeur d'applications</h3>
<div class="listeMembres">
  <h3>Yildiz Israfil</h3>
  <h3>Indah Juliani</h3>
  <h3>Gardie David</h3>
  <h3>Robinard Manuel</h3>
</div>

<h4>2itech - session 2021 -2023</h4>

<div class="container">
  <div class="row">
    <div class="col-2"></div>
    <div div class="col-8">
      <h3 class="Node">BACK-END</h3>

      <div class="backEndContainer">
        <ul>
          <li>
            <b>NodeJS</b> : NodeJS est un environnement serveur basé sur le
            langage JavaScript.
          </li>
          <li>
            <b>nodemon</b> : Utilitaire d'interface de ligne de commande (CLI)
            qui enveloppe NodeJS et qui surveille le système de fichiers et
            redémarre automatiquement le processus.
          </li>
          <li>
            <b>WAMP</b>: Gestion serveur MYSQL et PHP, nous utliserons également
            PhpMyAdmin pour gérer notre base de données
          </li>
          <li>
            <b>Express</b>: Infrastructure d'application (framework) en
            JavaScript hébergée dans l'énvironnement d'éxécution Nodejs.
            Utilisation du Router pour l'architecture d'acccès aux données
          </li>
          <li>
            <b>MySQL</b>: Base de données en langage SQL, définition et
            manipulation via des requêtes envoyées depuis le serveur
          </li>
        </ul>
      </div>

      <h3 class="Angular">FRONT-END</h3>
      <div class="frontEndContainer">
        <ul>
          <li>
            <b>Angular</b> : Framework JavaScript open source basé sur
            Typescript
          </li>
          <li>
            <b>Bootstrap</b> Framework utilisant des langages HTML CSS &
            JavaScript
          </li>
        </ul>
      </div>

      <h3>Organisation du groupe & outils</h3>
      <div class="organisationContainer">


          
          
      <ul>
          
        <div class="frontEnd">
          <li>
            <b><h5 class="titleFront" class="Angular">FRONT-END</h5></b>
        </li>
          <div class="frontEndColum">
            <li>Israfil s'occuppe du composant "formations"</li>
            <li>Indah s'occuppe du composant "stagiaires"</li>
            <li>David s'occuppe du composant "formateurs"</li>
            <li>Manuel s'occuppe du composant "catégories"</li>
            <li>Manuel, David: Accueil, Navigation</li>
        </div>
    </div>

        <div class="backEnd">
          <div class="backEndColumn">
            <li>Israfil s'occuppe de la route "formations"</li>
            <li>Indah s'occuppe de la route "stagiaires"</li>
            <li>David s'occuppe de la route "formateurs"</li>
            <li>Manuel s'occuppe de la route "catégories" <br>et du Router</li>
        </div>
        
        <li>
            <b><h5 class="titleFront" class="Node">BACK-END</h5></b>
        </li>
        </div>

        <div class="communicationContainer">

            <li><b>Outil de communication</b>: Discord</li>
            <li><b>Outil IDE</b>: Virtual Studio Code</li>
            <li><b>Outil de tests :</b>Postman</li>

            <b class="github">Github: <a href="https://github.com/Israfil1/Angular_NodeJS/tree/Manuel"> Ressources ici</a>   </b>
        </div>
      </ul>


   

    </div>
</div>
    <div class="col-2"></div>
</div>
</div>
