<div class="container mt-5">


<!-- Message erreur de remplissage -->
    <div *ngIf="errormsg" class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>{{errormsg}}</strong> 
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>

<!-- Message succes d'ajout -->
      <div *ngIf="successmsg" class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>{{successmsg}}</strong> 
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>

<!-- Formulaire de saisie d'un nouveau formateur-->

      <h1>Pour ajouter/modifier un formateur merci de remplir tous les champs</h1>
    <form [formGroup]="formateursForm">
        <div class="col-lg-4 mt-2">
            <input type="text" class="form-control" formControlName="nomFormateur" placeholder="Entrer le nom du nouveau formateur">
        </div>
        <div class="col-lg-4 mt-2">
            <input type="text" class="form-control" formControlName="prenomFormateur" placeholder="Entrer le prenom du nouveau formateur">
        </div>
        <div class="col-lg-4 mt-2">
            <input type="text" class="form-control" formControlName="mailFormateur" placeholder="Entrer le mail du nouveau formateur">
        </div>
       
     
        
        <div class="col-lg-4 mt-2" *ngIf="!getparamid" (click)="formateursSubmit()">
            <button class="btn btn-primary btn-sm">Ajouter</button>
            <a routerLink="/formateurs" routerLinkActive="lienactif"><button type="button" class="btn btn-primary btn-sm">Retour</button></a>
        </div>
        
        <div class="col-lg-4 mt-2" *ngIf="getparamid" (click)="modifierFormateurs()">
            <button class="btn btn-primary btn-sm">Modifier</button>
            <a routerLink="/formateurs" routerLinkActive="lienactif"><button type="button" class="btn btn-primary btn-sm">Retour</button></a>
        </div>

    </form>


</div>
